* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Navbar */
.navbar {
    background: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar h1 {
        color: #f4b400;
    }

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
}

    .nav-links a:hover {
        color: #f4b400;
    }

/* Hero Section */
.hero {
    background: #111;
    color: white;
    padding: 80px 20px;
    text-align: center;
    border-radius: 20px;
    margin: 40px;
}

    .hero h1 {
        font-size: 48px;
        color: #f4b400;
    }

    .hero p {
        margin-top: 15px;
        font-size: 18px;
    }

/* Menu Grid */
.menu-container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

/* Card */
.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    padding: 15px;
    transition: 0.3s;
}

    .card:hover {
        transform: sc
